.btn-small 
{
    width:85px;
}


.nav-tabs > li, .nav-pills > li {
  float: left;
  width:160px;
}

.title {
	left:400px;
}


.input-large {
	width:160px;	
}

.input-xlarge {
    width: 240px;
}

.span5 {
    width: 450px;
}


.span4 {
    width: 380px;
}

.btn-primary {
    background: #bccfe4;
}


