@charset "utf-8";
/* CSS Document */
.navbar {
  background: none repeat scroll 0 0 #E02D32;
  border-bottom: 3px solid #901A00;
  color: #FFFFFF;
 }

.navbar a {
  color: #474747;
}

.navbar a:hover, a:focus {
  color: #fff;
}


.ace-nav > li > a > [class*="icon-"] {
    color: #FFFFFF;
}

.ace-nav > li > a:hover, .ace-nav > li > a:focus {
    background-color: #901A00;
}
.ace-nav > li.open > a {
    background-color: #901A00 !important;
}
.ace-nav > li.open > a {
    color: #FFFFFF !important;
}

.powered-by {
	display: inline;
	font-size: 12px;
}

#footer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #901A00;
  color: #901A00;
}

#footer a {
  color: #474747;
}

#footer a:hover, a:focus {
  color: #E02D32;
}


